body {
  margin: 0;
}
#running-high-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1138px;
}
h1.intro-title {
  font-size: 120px;
  font-weight: 800;
  color: #727272;
}
.x-graphic {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100rem;
  height: 400px;
}
.x-bar {
  position: absolute;
  width: 1100px;
  height: 110px;
  background-color: black;
}
.bar-1 {
  transform: rotate(20deg);
}
.bar-2 {
  transform: rotate(-20deg);
}
.shoe {
  width: 420px;
  height: 280px;
  transform: rotate(-35deg);
}
.shoe-container {
  width: auto;
  height: auto;
}
#running-high-design,
#feature-upper,
#feature-insole,
#feature-outsole,
#shoes-weight,
#running-high-end {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1138px;
  width: 100%;
  background-color: black;
  margin: 0;
}
.design-title,
.upper-title,
.insole-title,
.outsole-title {
  margin-top: 88px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 966px;
  height: 194;
}
.design-title h1,
.upper-title h1,
.insole-title h1,
.outsole-title h1,
h1.end-title {
  font-size: 80px;
  color: #fff;
  margin: 0;
}
h2.design-body,
h2.upper-body,
h2.insole-body,
h2.outsole-body {
  text-align: center;
  width: 728px;
  font-size: 25px;
  color: #9c9c9c;
}
.body-1 {
  margin-bottom: 10px;
}
.body-2 {
  margin-top: 0;
}

#shoeVideo {
  width: 50%;
  margin-right: 6rem;
}

#shoe-features {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1138px;
  width: 100%;
  background-color: black;
  margin: 0;
}
.feature {
  width: 100%;
  display: flex;
}
.shoes-decom {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.upper {
  margin: 0;
  padding: 0;
  width: 571px;
  z-index: 3;
}
.insole {
  margin: 0;
  padding: 0;
  width: 615px;
  transform: translate(20px, -249px);
  z-index: 2;
}
.outsole {
  margin: 0;
  padding: 0;
  width: 660px;
  transform: translate(50px, -528px);
  z-index: 1;
}
.shoes-info-container {
  flex: 0.75;
}
.shoes-info {
  margin-bottom: 170px;
}
.shoes-info h1 {
  margin-left: 80px;
  margin-bottom: 16px;
  width: 555px;
  font-size: 40px;
  color: #fff;
}
.shoes-info hr {
  width: 554px;
  margin-left: 75px;
}
.shoes-info h2 {
  margin-top: 10px;
  margin-left: 80px;
  display: flex;
  align-items: start;
  font-size: 25;
  font-weight: 400;
  color: #9c9c9c;
}
#feature-insole {
  background-color: #202020;
}
#upper,
#insole,
#outsole {
  margin-top: 100px;
  width: 600px;
}
#shoes-weight {
  height: 2350px;
}
h1.weight-title {
  margin-top: 300px;
  width: 1000px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
}
#shoe {
  width: 660px;
  transform: rotate(-10deg);
}
#feather {
  width: 370px;
  transform: rotate(40deg) translate(-250px, -350px);
}
#grass {
  width: 100%;
}
h1.weight-text {
  font-size: 100px;
  transform: translateY(-800px);
  color: #fff;
}

h1.end-title {
  margin-top: 30px;
}
.end-container {
  display: flex;
  width: 100%;
}
.end-shoe {
  width: 1000px;
}
.end-info {
  flex: 1;
  margin-top: 6rem;
  margin-left: 2rem;
}
.record-info-container h2,
.weight-info-container h2 {
  font-size: 25px;
  color: #fff;
}
.record-info-container h1,
.weight-info-container h1 {
  font-size: 64px;
  color: #ff3838;
  margin: 20px 0;
}
.record-info-container,
.weight-info-container {
  margin-bottom: 60px;
}
.end-text {
  width: 980px;
  font-size: 25px;
  color: #9c9c9c;
}
strong {
  font-size: 30px;
  color: #fff;
}
