body {
  display: flex;
  justify-content: space-around;
  min-height: 50vh;
  flex-direction: column;
  padding-top: 20px;
}

#box1,
#box2,
#box3,
#box4,
#box5 {
  display: block;
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
