@import url("./base/_base.css");

@import url("./blocks/_intro.css");
@import url("./blocks/_design.css");
@import url("./blocks/_features.css");
@import url("./blocks/_info-card.css");
@import url("./blocks/_detail.css");
@import url("./blocks/_weight.css");
@import url("./blocks/_summary.css");
@import url("./blocks/_stat-badge.css");
@import url("./blocks/_buy-button.css");
@import url("./blocks/_purchase.css");
