.purchase-button {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2200;

  height: 3rem;
  width: 7rem;

  border-radius: 20px;
  font-size: 1rem;

  cursor: pointer;
}
.buy-button,
.return-button:hover {
  border: solid 2px rgb(116, 116, 116);
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.buy-button:hover,
.return-button {
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(116, 116, 116);
  color: #000000;
}

.return-button {
  display: none;
}
