.buy-button,
.return-button {
  position: fixed;
  height: 3rem;
  width: 7rem;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: solid 1px rgb(116, 116, 116);
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1001;
}
.return-button {
  visibility: hidden;
}
.buy-button:hover,
.return-button:hover {
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(116, 116, 116);
  color: #000000;
}
#test__shoe {
  width: 200px;
  filter: hue-rotate(-30deg);
}
