.design {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-height: 1000px;
  min-width: 1200px;
  margin: 0;
}

.design__title-group {
  margin-top: 10rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60rem;
  height: 194;
}

.design__title {
  color: white;
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}

.design__body {
  text-align: center;
  width: 45rem;
  font-size: 1.6rem;
  color: #9c9c9c;
}

.design__video {
  width: 50%;
  margin-top: 6rem;
  margin-right: 6rem;
}
