.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-height: 2160px;
  min-width: 1200px;
  background-color: black;
  margin: 0;
}

.detail__title-group {
  margin-top: 88px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 966px;
  height: 194;
}

.detail__title {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  margin: 0;
}

.detail__body {
  text-align: center;
  width: 45rem;
  font-size: 1.5rem;
  color: #9c9c9c;
  margin: 2px 0;
}

.detail__image {
  margin-top: 15rem;
  width: 40rem;
}
.detail--insole {
  background-color: #1b1b1b;
}
