.info-card {
  margin-bottom: 11rem;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.info-card__title {
  margin-bottom: 1rem;
  width: 34rem;
  font-size: 2.5rem;
  color: #fff;
}

.info-card__divider {
  width: 32rem;
  margin-left: 0.4rem;
}

.info-card__subtitle {
  margin-top: 0.5rem;
  margin-left: 0.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #9c9c9c;
}
