.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1138px;
  min-width: 1200px;
  background-color: #fff;
}

.intro__title {
  font-size: 120px;
  font-weight: 800;
  color: #ffffff;
}

.intro__x-graphic {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.intro__x-bar {
  position: absolute;
  width: 1100px;
  height: 110px;
  background-color: rgb(127, 127, 127);
  z-index: 1;
}

.intro__x-bar--1 {
  transform: rotate(20deg);
}

.intro__x-bar--2 {
  transform: rotate(-20deg);
}

.intro__shoe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
}

.intro__shoe {
  width: 370px;
  transform: rotate(-35deg);
}
