.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 1200px;
  min-height: 1000px;
  background-color: #fff;
}

.intro__title {
  position: absolute;
  font-size: 10rem;
  font-weight: 800;
  color: #ffffff;
}

.intro__x-graphic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 15rem;
  overflow: hidden;
}

.intro__x-bar {
  position: absolute;
  width: 55rem;
  height: 5rem;
  background-color: rgb(127, 127, 127);
  z-index: 1;
}

.intro__x-bar--1 {
  transform: rotate(20deg);
}

.intro__x-bar--2 {
  transform: rotate(-20deg);
}

.intro__shoe-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  top: 70%;
  z-index: 0;
}

.intro__shoe {
  width: 20rem;
  transform: rotate(-35deg);
}
