.purchase {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 1200px;
  min-width: 1200px;

  background-color: rgb(255, 255, 255);

  z-index: 1000;
  height: 20vh; /* 1단계: 작은 창 (높이 20%) */
  transform: translateY(100%); /* 화면 아래쪽 밖으로 숨김 */
  visibility: hidden; /* 완전히 숨김 */
}
#purchase-shoe {
  --hue: 0deg; /* 색조 회전 각도 (GSAP로 조작할 것) */
  --sat: 500%; /* 채도 (고정할 값) */
  --bright: 80%; /* 밝기 (고정할 값) */

  /* 2. 변수를 사용해 필터 조합 */
  filter: hue-rotate(var(--hue)) saturate(var(--sat)) brightness(var(--bright));
  width: 300px;
}
