.purchase {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-height: 1200px;
  min-width: 1200px;

  background-color: rgb(255, 255, 255);

  z-index: 1000;
  height: 20vh; /* 1단계: 작은 창 (높이 20%) */
  transform: translateY(100%); /* 화면 아래쪽 밖으로 숨김 */
  visibility: hidden; /* 완전히 숨김 */
}
