.summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-height: 2160px;
  min-width: 1200px;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.summary__title {
  margin-top: 300rem;
  font-size: 5rem;
  color: #fff;
  margin: 0;
  margin-top: 30px;
}

.summary__container {
  display: flex;
  height: 37.5rem;
}

.summary__shoe-wrapper {
  flex: 0.7;
  height: 37.5rem;
}

.summary__shoe-image {
  width: 1000px;
}

.summary__info-wrapper {
  flex: 0.3;
  margin-top: 6rem;
  margin-left: 2rem;
  height: 37.5rem;
}

.summary__text {
  width: 61.25rem;
  font-size: 1.5rem;
  color: #9c9c9c;
}
