.weight {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-height: 2160px;
  min-width: 1200px;
  background-color: black;
  margin: 0;
}

.weight__title {
  margin-top: 20rem;
  width: 60rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
}

.weight__shoe {
  width: 36rem;
  transform: rotate(-10deg);
}
.weight__grass-scene {
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.weight__grass {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.weight__feather {
  position: absolute;
  top: 40%;
  width: 20rem;
  transform: rotate(40deg);
  z-index: 1;
}
.weight__text {
  position: absolute;
  font-size: 6rem;
  color: #fff;
  z-index: 1;
  top: 20%;
  text-align: center;
}
